.features__text h1 {
  font-size: 48px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  margin: 0;
  position: relative;
  padding: 0;
  text-align: left;
  color: #39454a;
}

.high {
  color: #0c6253 !important;
}

.features__container {
  display: flex;
  flex-direction: column;
}

.bg-elements {
  position: absolute;
  left: 0;
  top: 880px;
  width: 100%;
}

.feature__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #39454a;
  font-weight: 800;
}
.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
    cursor: pointer;
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    cursor: pointer;
    
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
    
  }

  @media screen and (max-width: 1367px) {
    .bg-elements{
      top: 700px;
    }

    .features__text h1 {
      font-size: 38px;  
    }

    .feature__box img{
      height: 300px;
      width: 250px;
    }

    .feature__box h1{
      font-size: 20px;
    }
  }

  @media screen and (max-width: 830px) {
    .feature__grid{
     grid-template-columns: 1fr;
    }
  }
